/*
* @Author: dell
* @Date:   2020-06-14 15:14:10
* @Last Modified by:   dell
* @Last Modified time: 2020-06-14 20:40:05
*/
.header{
	width:1920px;
  	height:101px;
  	background-color: #292838;
}
.logo{
	  	font-size:40px;
  		font-weight:bold;
  		padding-left: 36px;
  		color:rgba(0,164,255,1);
  		float: left;
  		margin-top: 24px;
}
.tital{
	float: left;
	margin-top: 40px;
	padding-left: 280px;
	font-size: 20px;
}
.tital a{
	color:rgba(255,255,255,1);
}
.tital li{
	float: left;
	margin-left: 126px;
}
.form{
	float: right;
	padding-right: 66px;
	margin-top: 40px;
}
.search{
	float: left;
	width:240px;
  	height:26px;
  	background:rgba(200,200,200,1);
  	border: none;
}
.submit{
	float: left;
	width:30px;
  	height:26px;
	background:rgba(200,200,200,1) url(../images/search.png) no-repeat center;
	border: none;
}
.top{
	width:1920px;
  	height:24px;
}
.top p{
	float: left;
	padding-left: 36px;
	font-size: 20px;
	font-weight:bold;

}
.top a{
	float: right;
	padding-right: 66px;
	font-size: 20px;
	font-weight:bold;
	color: rgba(0,0,0,1);
}
.ex{
	width: 1920px;
	position: relative;
}
.imfor1{
	width: 1920px;
	height: 350px;
	background: rgba(255,255,255,1) url(../images/dc.jpg) repeat center;
}
.pc1{
	float: left;
	margin-top: 10px;
	width: 350px;
	height: 330px;
	background: rgba(255,255,255,1) url(../images/1.jpg) no-repeat center;
}
.pi{
	font-size: 22px;
	font-weight: bold;
	margin-top: 300px;
	color: rgba(255,25,255,0.6);
	text-align: center;
}
.pc2{
	float: left;
	margin-top: 10px;
	width: 350px;
	height: 330px;
	background: rgba(255,255,255,1) url(../images/2.jpg) no-repeat center;
}
.pc3{
	float: left;
	margin-top: 10px;
	width: 350px;
	height: 330px;
	background: rgba(255,255,255,1) url(../images/3.jpg) no-repeat center;
}
.pc4{
	float: left;
	margin-top: 10px;
	width: 350px;
	height: 330px;
	background: rgba(255,255,255,1) url(../images/4.jpg) no-repeat center;
}
.pc5{
	float: left;
	margin-top: 10px;
	width: 350px;
	height: 330px;
	background: rgba(255,255,255,1) url(../images/5.jpg) no-repeat center;
}
.imfor2{
	width: 1920px;
	height: 320px;
	background: rgba(255,255,255,1) url(../images/mv.jpg) repeat center;
}
.pc6{
	float: left;
	margin-left: 180px;
	margin-top: 10px;
	width: 400px;
	height: 300px;
	background: rgba(255,255,255,1) url(../images/m1.jpg) no-repeat center;
}
.pc7{
	float: left;
	margin-top: 10px;
	width: 400px;
	height: 300px;
	background: rgba(255,255,255,1) url(../images/m2.jpg) no-repeat center;
}
.pc8{
	float: left;
	margin-top: 10px;
	width: 400px;
	height: 300px;
	background: rgba(255,255,255,1) url(../images/m3.jpg) no-repeat center;
}
.pc9{
	float: left;
	margin-top: 10px;
	width: 400px;
	height: 300px;
	background: rgba(255,255,255,1) url(../images/m4.jpg) no-repeat center;
}
.pi2{
	font-size: 22px;
	font-weight: bold;
	margin-top: 276px;
	color: rgba(25,25,255,0.6);
	text-align: center;
}
.imfor3{
	width: 1920px;
	height: 370px;
	background: rgba(255,255,255,1) url(../images/h.jpg) repeat center;
}
.cute{
	float: left;
	margin-left: 80px;
	margin-top: 10px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/huiye.png) no-repeat center;
}
.cute2{
	float: left;
	margin-top: 10px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/qing.png) no-repeat center;
}
.cute3{
	float: left;
	margin-top: 10px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/zuori.jpg) no-repeat center;
}
.cute4{
	float: left;
	margin-top: 10px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/weilai.jpg) no-repeat center;
}
.cute5{
	float: left;
	margin-top: 10px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/zero.png) no-repeat center;
}
.imfor4{
	width: 1920px;
	height: 370px;
	background: rgba(255,255,255,1) url(../images/xiaoba.jpg) repeat center;
}
.c1{
	float: left;
	margin-left: 180px;
	margin-top: 10px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/dalao.png) no-repeat center;
}
.c2{
	float: left;
	margin-top: 10px;
	margin-left: 40px;
	width: 268px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/feng.jpg) no-repeat center;
}
.c3{
	float: left;
	width: 268px;
	margin-left: 40px;
	margin-top: 10px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/luge.jpg) no-repeat center;
}
.c4{
	float: left;
	width: 268px;
	margin-left: 40px;
	margin-top: 10px;
	height: 360px;
	background: rgba(255,255,255,1) url(../images/xiaotai.png) no-repeat center;
}
.bottom{
	width: 1920px;
	height: 30px;
	background: rgba(200,200,200,1);
}
.bottom a{
	background: rgba(25,255,255,1);
	font-size: 20px;
	font-weight: bold;
	margin-left: 940px;
}
